<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
        <meta name="author" content="Martin GILBERT">
        <title>{% block title %}{{ app.name }}{% endblock %}</title>
        <meta name="description" content="{% block description %}{{ '' }}{% endblock %}" />
        <link rel="icon" type="image/png" href="{{ asset('build/images/logoaxo.jpg')}}" />
        {% block stylesheets %}
        {% endblock %}
    </head>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</html>